{% extends "base.html" %}

{% block content %}

  <h1>Buggy</h1>

  <table>
   <tr>
     <td>ID:</td> <td> {{ buggy['id'] }} </td>
    </tr>
   <tr>
     <td>Wheels:</td> <td> {{ buggy['qty_wheels'] }} </td>
    </tr>
   <tr>
       <td>Flag colour:</td> <td> {{ buggy['flag_color'] }} </td>
   </tr>
    <tr>
       <td>Second flag colour:</td> <td> {{ buggy['flag_color_secondary'] }} </td>
   </tr>
   <tr>
       <td>Flag Pattern:</td> <td> {{ buggy['flag_pattern'] }} </td>
   </tr>
  </table>

  <p>
    <a href="/" class="button">home</a>
  </p>

{% endblock %}
