<!doctype html>

{% extends "base.html" %}

{% block content %}

  <h1>Making The Buggy</h1>
 <p>
   {{ msg }}
 </p>
 <form action="/new" method="post">
      <table width="300" border="0">
        <tbody >
          <tr>
            <td align="right"><label for="qty_wheels">Number of wheels:</label></td>
            <td align="center"> <input type="text" name="qty_wheels" /></td>
          </tr>
          <tr>
            <td align="right"><label for="flag_color">Colour of flag:</label></td>
            <td align="center"><input type="text" name="flag_color" /></td>
          </tr>
          <tr>
            <td align="right">   <label for="flag_color_secondary">Colour of secondary flag:</label></td>
            <td align="center"><input type="text" name="flag_color_secondary" /></td>
          </tr>
          <tr>
            <td align="right"><label for="flag_pattern"> Flag pattern:</label></td>
            <td align="center"><input type="text" name="flag_pattern" /></td>
          </tr>
          <tr>
          <td colspan="2"><input type="submit" class="button">           </td>
          </tr>
        </tbody>
      </table>

  </form>
  <p>
    <a href="/" class="button">Home</a>
   </p>
{% endblock %}
