<!doctype html>

{% extends "base.html" %}

{% block content %}

  <h1>Make buggy</h1>
 <p>
   {{ msg }}
 </p>
  <form action="/new" method="post">
    <label for="qty_wheels">Number of wheels:</label>
    <input type="text" name="qty_wheels" />
    <label for="flag_color">Colour of flag:</label>
    <input type="text" name="flag_color" />
    <label for="flag_color_secondary">Colour of secondary flag:</label>
    <input type="text" name="flag_color_secondary" />
    <label for="flag_pattern"> Flag pattern:</label>
    <input type="text" name="flag_pattern" />
    <input type="submit" class="button">
  </form>
  <p>
    <a href="/" class="button">home</a>
   </p>
{% endblock %}
